body{
	font-family:  Verdana, Arial, '宋体';
	font-size: 10pt;
	margin:10px;
	line-height:20px;
}



.frame{
	width:90%;
	margin:auto;
	overflow:hidden;
}

h1{
	color:red;
}


h2{
	text-align:center;
}


a{
	text-decoration: none;
	list-style: none;
}

li{
	text-decoration: none;
	list-style: none;
}

.function{
	font-weight:bold;
	font-size: 13pt;
}
#navigation{
	background-color:#F1F1F1;
	position: fixed;
	width:15%;
	margin-top:15px;
	margin-left:20px;
	padding:5px;
	color:black;
}

#main_content{
	float:right;
	width:75%;
	margin-right:30px;
}


#content{
	padding:5px;
}

listing{
	font-family: Verdana, Arial, '宋体';
	font-size:10pt;
	line-height:20px;
}

pre{
	background-color:#F1F1F1;
	font-size:9pt;
	padding:2px;
}
add{
	font-size:10pt;
	padding:2px;
	color:orangeRed;
}

